[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=6.0.1"
sphinx = ">=2.4.1"
black = "==19.10b0" # pre-release dependency so it must be exact match
flake8 = ">=3.7.9"
tox = ">=3.14.3"
tox-pyenv = ">=1.1.0"
coverage = ">=5.0.3"
pytest-cov = "*"
mypy = ">=0.761"
bump2version = ">=1.0.0"
mock = ">=4.0.1"
pytest-asyncio = ">=0.10.0"
pycodestyle = "*"
pytest-xdist = "*"
pyprof2calltree = "*"
memory-profiler = "*"
line-profiler = "*"

[packages]
argparse = "*"
boto3 = ">=1.12.8"
aws-encryption-sdk = "==2.2.0"
watchdog = ">=0.10.3"
typing-extensions = "*"
# pipenv install typing_extensions git+https://github.com/Tinche/cattrs.git@v1.0.0#egg=cattrs
cattrs = {git = "https://github.com/Tinche/cattrs.git",ref = "v1.0.0"}
boto3-stubs = "*"
cryptography = ">=3.3.2"